.home {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.sidebar {
    min-width: 250px;
    flex-grow: 1;
}
.sidebar .content-block {
    margin-bottom: 1rem;
}
.content-block {
    background-color: black;
}

.hero {
    flex-grow: 10;
    min-width: 300px;
    max-width: 899px;
}

@media screen and (min-width: 700px){
    .sidebar {
        max-width: 300px;
    }
    
}

.overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    animation: shake 5s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    2.5% {
        transform: rotate(-5deg);
    }
    7.5% {
        transform: rotate(5deg);
    }
    10% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(-5deg);
    }
    17.5% {
        transform: rotate(5deg);
    }
    20%, 100% {
        transform: rotate(0deg);
    }
}